/* Todo el cuerpo */
* {
	margin: 0rem; 
	padding: 0rem; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

button, input{
	outline: none;
	border: none;
}

/* Cajas */
.limiter {
    width: 100%;
    margin: 0 auto;
}

.content-container {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15rem;
    background: url("../images/bckg-01.jpg");
    background-size: 100% 100%;
}