h1{
    text-align: center;
    line-height: 1.5;
    font-size:2rem;
    width: 100%;
    padding: 0 0rem 0 4.25rem;
}
p{
    text-align: justify;
    font-family: Poppins-Medium;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #666666;
}
h2{
    text-align: right;
    line-height: 1.5;
    font-size:1rem;
    width: 100%;
    padding: 0 0rem 0 4.25rem;
}
h3{
    font-style: italic; 
    line-height: 0;
}
/*-----------------MOSAICO para los productos --------------*/
.content-mosaico{
    overflow: hidden;
    width: 100%;
    min-height: 50vh;
    padding: 5vh 0rem 1.5vh 0rem;
}
.element {
    list-style: none;
    width: 140px;
    height: 140px;
    float: left;
    margin : 8px;
  }

/*-----------------------------------------------------------------*/
.page-header{
    width: 85%;
    position: absolute;
    top: 5vh;
    left: 8vw;
    right: 14vw;   
    background: #fff;
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5vh 3rem 1.5vh 3rem;
}
.helpbox-admin{
    width: 60%;
    /*height: 600px;*/
    position: absolute;
    top: 25vh;
    left: 38vw;    
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5rem 5rem 6.25rem;
}
.first-tier-list{
    font-family: Poppins-Bold;
    font-size: 0.875rem;
    color: #333333;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    display: block;
}

.second-tier-list{
    font-family: Poppins-Bold;
    font-size: 0.75rem;
    color: #333333;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    display: block;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;        
}
.btnbtn-primary{
    position: relative;
    font-family:Poppins-Medium ;
    display: inline-block;
    background-color: #00b4cb;
    border-radius: 10rem;
    border: 0.25rem double #f1f4fc;
    color: #ebebff;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.438rem 0.25rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.25rem;
}
.form-control{
    position: relative;
    font-family:Poppins-Medium ;
    display: inline-block;
    background-color: #e6e6e6;
    border-radius: 10rem;
    border: none;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.438rem 0.25rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.25rem;
    width: 12rem;
}
.form-imagen{
    width: 20rem;
    border-radius: 10%;
    border-style: dashed;
    border-color: #00b4cb;
    padding: 0rem 0rem 0rem 0rem;
}
.form-button{
    font-style: bold;
    position: relative;
    display: inline-block;
    background-color: #00b4cb;
    border-radius: 2rem;
    color: #ebebff;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem 0.3rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.5rem;
    width: 15rem;
    border: none;
}
.botones{
    position: absolute;
    top: 30vh;
    left: 9vw; 
}
.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.search-Term {
    width: 100%;
    border: 0.3em solid #00B4CC;
    border-right: none;
    padding: 0.5em;
    height: 3.5em;
    font-size: 18px;
    border-radius: 1em 0 0 1em;
    outline: none;
    color: #9DBFAF;
}
  
.search-Term:focus{
    color: #00B4CC;
}
  
.search-Button {
    width: 3.5em;
    height: 3.5em;
    border: 0.3em solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 1em 1em 0;
    cursor: pointer;
    font-size: 18px;
}
.wrap-search{
    width: 30%;
    position: absolute;
    top: 25vh;
    left: 8vw;
    /*transform: translate(-50%, -50%);*/   
}