<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/inicioSesion.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-producto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>
<body>
    <div class = "limiter">
        <div class="content-container">
            <div class="page-header">
                <h1>Bienvenido - Nombre de administrador</h1>
                <h2><script>DameLaFechaHora();</script></h2>
            </div>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="wrap-content">
                    <div class="product-form-add">
                        <p>{{ form.id.label }}</p>
                        <div class="wrap-inputs">
                            {{ form.id(class="inputs") }}
                        </div>

                        <p> {{ form.name.label }} </p>
                        <div class="wrap-inputs">
                            {{ form.name(class="inputs") }}
                        </div>


                        <p> {{ form.quantity.label }}</p>
                        <div class="wrap-inputs">
                            {{ form.quantity(class="inputs") }}
                        </div>

                        <p>{{ form.desc.label }}</p>
                        <div class="wrap-inputs">
                            {{ form.desc(class="inputs") }}
                        </div>
                    </div>
                    <div class="wrap-product-image">
                        <span class="container-product-image">

                        </span>
                        <div class="container-button-inblock">
                            <button class="button-image" type="button"
                               onclick="document.getElementById('product-image').click();">
                                Subir imagen
                            </button>
                            {{ form.img(class="button-image", id="product-image") }}
                        </div>
                    </div>
                </div>
                <div class="wrap-button">
                <div class="container-button">
                    <a class="buttons" href="/admin/product">Atras</a>
                </div>
                <div class="container-button">
                    {{ form.send(class="buttons") }}
                </div>
            </div>
            </form>
        </div>
    </div>
</body>
</html>