<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de usuario - Administrador</title>
    <script src="{{ url_for('static',filename='js/inicioSesion.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-producto.css') }}">
</head>
<body>
    <div class = "limiter">
        <div class = "content-container">
            <div class="page-header">
                <h1>Bienvenido - Nombre del Administrador</h1>
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                <h2><script>DameLaFechaHora();</script></h2>
            </div>
            <form method="POST" action="">
            <div class = "wrap-content">
            {{ form.hidden_tag() }}

                    <div class="product-form-add">
                        <p> {{ form.name.label }}</p>
                        <div class="wrap-inputs">

                            <div class="inputs">
                                {{ form.name(class="inputs-content") }}
                            </div>
                        </div>

                        <p>{{ form.password.label }}</p>
                        <div class="wrap-inputs">
                            <div class="inputs">
                                {{ form.password(class="inputs-content") }}
                            </div>
                        </div>

                        <p>{{ form.email.label }}</p>
                        <div class="wrap-inputs">
                            <div class="inputs">
                                {{ form.email(class="inputs-content") }}
                            </div>
                        </div>

                        <p>{{ form.role.label }}</p>
                        <div class="wrap-inputs">
                            <div class="inputs">
                                {{ form.role(class="inputs-content") }}
                            </div>
                        </div>
                    </div>
                    <div class="wrap-product-image">
                         <span class="container-product-image">
                            <img class="product-img" src="{{url_for('static', filename='images/img-01.png')}}" alt="imagen producto">
                         </span>
                    </div>

            </div>
            <div class="wrap-button">
                <div class="container-button">
                    <a class="buttons" href="/admin">Atras</a>
                </div>
                <div class="container-button">
                    {{ form.add_user(class="buttons") }}
                </div>
            </div>
            </form>
        </div>
    </div>
</body>
</html>