<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cantidad Producto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-editarCantidadProducto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>
<Script Language="JavaScript">
    function DameLaFechaHora() {
      var hora = new Date()
      var hrs = hora.getHours();
      var min = hora.getMinutes();
      var hoy = new Date();
      var m = new Array();
      var d = new Array()
      var an= hoy.getYear();
      m[0]="Enero";  m[1]="Febrero";  m[2]="Marzo";
      m[3]="Abril";   m[4]="Mayo";  m[5]="Junio";
      m[6]="Julio";    m[7]="Agosto";   m[8]="Septiembre";
      m[9]="Octubre";   m[10]="Noviembre"; m[11]="Diciembre";
      document.write(hoy.getDate());
      document.write(" de ");
      document.write(m[hoy.getMonth()]);
      document.write( " " );
      document.write("hora: "+hrs+":"+min);
    }
</Script>
<body>
    <div class = "limiter">
        <div class = "content-container">
            <div class="page-header">
                <h1>Bienvenido - Nombre del Empleado</h1>
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                <h2><script>DameLaFechaHora();</script></h2>
            </div>
            <div class="wrap-search">
                <div class="search">
                    <input type="search" class="search-Term" id = "productSearch" 
                    placeholder="Buscar...">                
                    <button type="submit" class="search-Button" id = "doSearch">
                        <i class="fa fa-search"></i>
                    </button>    
                </div>
            </div>            
            <div class="wrap-content">
                <form class="product-form-add" action="" method="POST">

                    <label for="productId">Referencia</label>
                    <div class="wrap-inputs">
                        <fieldset disabled>
                            <input class="inputs" type="number" name="IdProd" id="productId" 
                            placeholder="Eg. 13211">
                        </fieldset> 
                    </div>
 
                    <label for="productName">Nombre del producto</label>            
                    <div class="wrap-inputs">
                        <fieldset disabled> 
                            <input class="inputs" type="text" name="Nombre" id="productName" 
                            placeholder="Eg. Empanadas de carne">
                        </fieldset>  
                    </div>


                    <label for="productQuantity">Cantidad</label>
                    <div class="wrap-inputs">
                        <input class="inputs" type="number" name="Quantity" id="productQuantity"
                        placeholder="Eg. 10">
                    </div>                  

                    <form  action="">
                        <div class="container-button-inblock">
                            <input type="file"  id="productImage" style="display: none;">
                            <input class="button-image" type="button" value="Actualizar" 
                            onclick="document.getElementById('product-image').click();" />                            
                        </div>
                    </form>
                              
                    
                </form>
                <div class="wrap-product-image">
                    <span class="container-product-image">
                        <img class="product-img" src="{{url_for('static', filename='images/PRODUCTOS/TE.png')}}" alt="imagen producto">
                    </span>
                    <label for="productDescription">Descripción</label>
                    <div class="wrap-inputs">
                        <fieldset disabled> 
                            <input class="inputs" type="text" name="Description" id="productDescription"
                            placeholder="Eg. Lorem ipsum...">
                        </fieldset> 
                    </div>    
                    
                </div>
            </div>
            <div class="wrap-button">
                <div class="container-button">
                    <a class="button" href="/employee/">Atras</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>