<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvide mi contraseña</title>
    <script src="{{ url_for('static',filename='js/inicioSesion.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-login.css') }}">
</head>
<body>

    <div class = "limiter">
        <div class = "content-container">
            <div class ="wrap-login">
                <div class="login-pic">
                    <img src="{{ url_for('static',filename='images/img-02.jpeg') }}">
                </div>

                <form method="POST" class="login-form" name="formulario" action="" >
					<span class="login-form-title">
						Por favor, ingrese la dirección de su correo electronico para recuperar su contraseña
                    </span>

                    <label for="email">Correo electrónico</label>
                    <div class="wrap-inputs">
                         <input class="inputs" type="email" name="email" id="email"
                         placeholder="nombre@...">
                    </div>

                    <div class="container-login-form-btn">
                        <input class="login-form-btn" type="submit" name ="Ingreso" id="buttonLogin" value="Enviar">
                    </div>

                </form>
            </div>
        </div>
        <a href="https://www.freepik.es/fotos/fondo"></a>
    </div>
</body>
</html>