<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <script src="{{ url_for('static',filename='js/inicioSesion.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>
<body>

    <div class = "limiter">
        <div class = "content-container">
            <div class ="wrap-login">
                <div class="login-pic">
                    <img src="{{ url_for('static',filename='images/img-02.jpeg') }}">
                </div>

                <form class="login-form" action="" method="POST">
                    {{ form.hidden_tag() }}
					<span class="login-form-title">
						Ingreso de usuario
                    </span>   
                    
                    <div class="wrap-inputs">
                        <div class="inputs">
                            <div class="inputs-icon">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </div>
                            {{ form.name(class="inputs-content") }}
                        </div>
                    </div>
                    <div class="wrap-inputs">
                        <div class="inputs">
                            <div class="inputs-icon">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            {{ form.password(class="inputs-content") }}
                        </div>
                    </div>
                    <div class="container-login-form-btn">
                        {{ form.send_login(class="login-form-btn") }}
                    </div>
                    <div class="text-center">
                        <a class="message" href="{{ url_for("forgot") }}">¿Olvidó su contraseña?</a>
                    </div>
                </form>
            </div>           
        </div>
    </div>
</body>
</html>