<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <script src="{{ url_for('static',filename='js/inicioSesion.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-login.css') }}">
</head>
<body>

    <div class = "limiter">
        <div class = "content-container">
            <div class ="wrap-login">
                <div class="login-pic">
                    <img src="{{ url_for('static',filename='images/img-02.jpeg') }}">
                </div>

                <form class="login-form" action="{{ url_for("login") }}" method="POST" name="formulario">
					<span class="login-form-title">
						Ingreso de usuario
                    </span>   
                    
                    <div class="wrap-inputs">
                        <input class="inputs" type="text" name="Name" id="Name" placeholder="Nombre de usuario">
                    </div>
                    <div class="wrap-inputs">
                        <input class="inputs" type="password" name="Password" id="Password"
                        placeholder="Contraseña">
                        <img src="{{ url_for('static', filename='images/eye.jpg') }}" width = 30px height=40px onmouseover="mostrarPassword();" onmouseout="ocultarPassword();">
                    </div>
                    <div class="container-login-form-btn">
                        <input class="login-form-btn" type="submit" name ="Ingreso" id="buttonLogin" value="Ingresar">
                    </div>
                    <div class="text-center">
                        <a class="message" href="{{ url_for("forgot") }}">¿Olvidó su contraseña?</a>
                    </div>
                </form>
            </div>           
        </div>
        <a href="https://www.freepik.es/fotos/fondo">Foto de Fondo creado por tirachard - www.freepik.es</a>
    </div>
</body>
</html>